/*body {
	margin: 0px;
}*/

#calculator-preview .equation-container {
	background-color: rgb(255, 251, 224);
	padding: 15px;
	width: 100%;
}

#calculator-preview .equation-container h3 {
	font-family: 'Roboto Slab', Georgia, serif;
	margin: 0 0 1em;
}

#calculator-preview #calculateButton {
	margin: 10px 0;
}