body {
	width: 800px;
	margin: 0 auto;
}

html {
	background-color: #290007;
}

h1 {
	color: #FFFFFF;
	font-family: "Roboto Slab", serif;
	font-size: 3.5em;
	text-align: center;
	margin: 1em 0 0;
}

h2 {
	color: #C99800;
	font-family: "Roboto Slab", serif;
	font-weight: 300;
	font-size: 1em;
	text-align: center;
}
hr {
	border-bottom: 1px solid rgba(139, 139, 139, 0.5);
	border-top: 1px solid rgba(32, 7, 7, 0.08);
}

.main-container {
	margin: 20px 0 10px;
}