body {
	width: 800px;
	margin: 0 auto;
}

html {
	background-image: url('../images/simple_dashed.png')
}

a, a:visited, a:hover {
	color: white;
}

h1 {
	color: #FFFFFF;
	font-family: "Roboto Slab", serif;
	font-size: 3.5em;
	text-align: center;
	margin: 0.5em 0 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

h2 {
	color: #C99800;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-size: 1em;
}

h2.tagline {
	font-size: 1em;
	font-weight: 300;
	text-align: center;
}

h2.try {
	font-size: 2em;
	text-align: center;
}

hr {
	border-bottom: 1px solid rgba(139, 139, 139, 0.5);
	border-top: 1px solid rgba(32, 7, 7, 0.08);
	border-left: none;
	margin: 30px 0;
}

.main-container { }

.row {
	color: #C99800;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row .left {
	width: 48%;
	float: left;
}

.row .right {
	width: 48%;
	margin-left: 4%;
	float: left;
	padding: 20px 0 10px;
	font-size: 0.9em;
}

.reveal { display: none; }

pre {
	background-color: rgb(37, 37, 37);
	padding: 10px;
	border-radius: 3px;
}

textarea {
	height: 450px;
	width: 100%;
	max-width: 100%;
	background-color: rgb(37, 37, 37);
	color: #C99800;
	border-radius: 5px;
	border-color: black;
}

.maker {
	width: 400px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	color: #C99800;
	margin: 0 auto;
}

#equationInput {
	width: 230px;
}

#calculator-preview {
	background-color: rgb(37, 37, 37);
}
#roundPlaces {
    width: 15px;

}

footer {
	margin: 10px 0 1em;
	padding: 10px 0;
}


footer h2 {
	text-align: center;
	font-size: 0.8em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


